@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div class="container">
    Manage my <a asp-controller="Courses" asp-action="Index">Courses</a> or <a asp-controller="Courses" asp-action="Create">add new course</a>
</div>